<% @sales.each do |sale| %>
    <%= link_to sale_url(sale) do %>
        <div class="sale-link">
            <div class="clearfix">
                <div class="float-left">
                    <div>
                    <span class="lead"><%= sale.title %></span>
                    </div>
                    <span class="small"><%= sale.date.strftime("%B %d, %Y") %></span> <br/>
                    <span> <%= sale.description %> </span> <br />
                </div>
                <div class="float-right">
                    <br/>
                    <p class="lead"> $ <%= "%.2f" % sale.price %> </p>
                </div>
            </div>
        </div>
        <hr/>

    <% end %> 
<% end %>