<%=link_to "Back", :back %>

<h3> Edit contact </h3>
<%= form_for @contact do |f|%>
    <%= f.text_field :name %>
    <%= f.text_field :email %>
    <%= f.text_field :phone %>
    <%= f.submit %>
<% end %>