<h3> Create Sale </h3>
<%= form_for @sale do |f|%>
    <%= f.number_field :price %>
    <%= f.date_field :date %>
    <%= f.text_field :title %>
    <%= f.text_field :description %>
    <%= f.submit %>
<% end %>